.quote-btn,
.whatsapp-btn {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.quote-btn {
  background: #6782ff;
  color: white;
  width: Fixed (151px);
  height: Fixed (42px);
  border-radius: 8px;
  padding: 10px 16px 10px 16px;
  gap: 8px;
}

.whatsapp-btn {
  width: 158px;
  height: 42px;
  background: #ffffff;
  color: #6782ff;
  padding: 9px 10px;
  border-radius: 8px;
  gap: 5px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.buttons {
  margin-top: 20px;
  display: flex;
}
