.parentDiv {
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
  padding: 50px;
  background: linear-gradient(rgba(21, 0, 41, 0.6), rgba(21, 0, 41, 0.9)),
    url("../images/pageOne.png");
  /* background-image: url("./images/pageOne.png"); */
  background-size: cover;
  background-repeat: no-repeat;
}
.upperDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content {
  max-width: 50%;
  margin-top: -120px;
}

.content h1 {
  font-size: 30px;
  position: relative;
}
.curve h1 {
  position: absolute;
  top: 35px;
  left: 140px;
}

.curve img {
  position: absolute;
  width: 120px;
  top: 68px;
}
.curve2{
  width: 20vh
}
.content h1 span {
  color: yellow;
}
.ISO-P{
  /* border: 1px solid black; */
  width: 350px;
  margin-top: 29px;
}

.form-container {
  padding: 20px;
  border-radius: 8px;
  width: 350px;
}
.form-container  input{
  width: 120px;
  /* background-color: red; */
}
.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form select,
.form textarea {
  margin: 5px 0;
  padding: 12px;
  width: 350px;
  border: none;
  /* background-color: red; */
  border-radius: 8px;
  font-size: 14px;
  /* color: white; */
}

.form select {
  appearance: none;
  width: 375px;
  border: none;
}

.form textarea {
  height: 80px;
  resize: none;
  width:355px ;
}

.submitBtn {
  background: #6782ff;
  color: white;
  padding: 12px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
  width: 64vh;
  margin-top: 10px;
}

.submitBtn:hover {
  background: #556dff;
}
.group {
  display: flex;
  /* justify-content: end; */
  position: absolute;
  right: 15px;
  bottom: auto;
}
